@import "styles/variables";

.mainContainer {
  display: flex;
  align-items: center;
  height: 100vh;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
}

.cardElements {
  position: relative;
  display: flex;
  justify-content: center;
}

.cardImage {
  border-radius: 1rem;
  transition: transform 0.3s ease-in-out;
}

.imgDetail {
  width: 85%;
  position: absolute;
  background-color: $primary;
  border-radius: 0.5rem;
  bottom: -1.5rem;
  padding: 1.5rem;
  box-shadow: var(--boxShadowForImageDetails);
  opacity: 0;
  transform: translateY(1.5rem);
  transition: opacity 1s;

  & p:nth-child(2){
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
  }
}

.cardElements:hover .cardImage {
  transform: scale(1.02);
}

.cardElements:hover .imgDetail {
  transform: translateY(0);
  opacity: 1;
  animation: show-imgDetails 1s forwards;
}

.cardElements:not(:hover) .imgDetail {
  animation: hide-imgDetails 1s forwards;
}

@keyframes show-imgDetails {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(1.5rem);
}
}

@keyframes hide-imgDetails {
  100% {
    transform: translateY(1.5rem);
  }
  50% {
    transform: translateY(-4rem);
  }
  0% {
    transform: translateY(1rem);
  }
}

